<!-- begin:: Header Topbar -->
<div class="kt-header__topbar">
	<!--begin: Search -->
	<kt-search-dropdown></kt-search-dropdown>
	<!--end: Search -->
	<!--begin: Notifications -->
	<!--end: Notifications -->
	<!--begin: Quick actions -->
	<!--end: Quick actions -->
	<!--begin: My Cart -->
	<!--end: My Cart -->
	<!--begin: Language bar -->
	<!--end: Language bar -->
	<!--begin: User bar -->
	<kt-user-profile [greeting]="false" [avatar]="false" [badge]="false" [icon]="true"></kt-user-profile>
	<!--end: User bar -->
	<!--begin: Quick panel toggler -->
	
	<!--end: Quick panel toggler -->
</div>
<!-- end:: Header Topbar -->
