table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  th,td {                                                                                                                                                                                                                                                                                                                                                                
    width: 25%;
  }

  .mat-header-cell{
    font-weight: 500;
    color: #595d6e;
  }

  .serial-checkbox{
    border:1px solid transparent !important;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    left: 0;
    top: 0;
  }

  .text{
    color: #000;
  }

  form{
    padding-top: 40px;
  }
                                                                        
  .text-heading{
    color: #000;
    padding-top: 20px;
  }

  .radio-btn{
    padding-left:10px;
  }
  